<div class="new-meal-div">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enter Meal Details</h3>
            </div>
            <div class="panel-body">
                <form name="mealDetailsForm" ng-submit="mealDetailsForm.$valid && submit()" novalidate>
                    <div class="form-group">
                        <label for="meal-price">Base Meal Price: $</label>
                        <input type="number" id="meal-price" class="calc-input" name="mealPrice" ng-model="mealPrice" required/>
                        <div class="help-block">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group tax-rate">
                        <label for="tax-rate">Tax Rate: %</label>
                        <input type="number" id="tax-rate" class="calc-input" name="taxRate" ng-model="taxRate" required>
                        <div class="help-block">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tip-percentage">Tip Percentage: %</label>
                        <input type="number" id="tip-percentage" class="calc-input" name="tipPercentage" ng-model="tipPercentage" required>
                        <div class="help-block">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-default left-panel-buttons" type="submit" value="Submit">Submit</button>
                        <button class="btn btn-default left-panel-buttons" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Charges</h3>
                </div>
                <div class="panel-body">
                    <p>Subtotal<span> {{subTotal | number}}</span>
                    </p>
                    <p id="tip-p">Tip<span> {{tip | number}}</span>
                    </p>
                    <p>Total <span> {{total | number}}</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>